@model NGKAssignment3WithAuth.Models.WeatherStations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherStations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirPressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirPressure)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeatherStationsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
